<div class="my-banner">
  <h1 class="name">
    Karl Loomes
  </h1>
  <div class="button-container">
    <a class="my-button" href="#portfolio">
      Portfolio
    </a>
    <a class="my-button" href="#about">
      About
    </a>
    <a class="my-button" href="#contact">
      Contact
    </a>
  </div>
  <div class="my-avatar">

  </div>
</div>
<div class="about-me" id="about">
  <h3>About</h3>
  <p>My name is Karl and I am a full stack web developer.</p>
</div>
<div class="favourite-container">
  <div class="laptop-image">
    Laptop
  </div>
  <div class="mobile-image">
    Mobile
  </div>
</div>
<div class="websites-grid" id="portfolio">
  <% @websites.each do |website| %>
    <div class="website-card" style="background-image: url(<%= image_path website.laptop_pic %>)">
      <div class="website-card-hidden">
        <h2><%= website.name %></h2>
        <a href=<%= website.web_link %> target="_blank"><%= website.web_link %></a><br>
        <a href=<%= website.github_link %> target="_blank"><%= website.github_link %></a>
        <p><%= website.description %></p>
        <p><%= website.tags %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="contact-bar" id="contact">
  <a href="https://www.linkedin.com/in/karl-loomes" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="https://github.com/kloomes" target="_blank">
    <i class="fab fa-github-square"></i>
  </a>
</div>

t.string "name"<!--
    t.text "description"
    t.string "web_link"
    t.string "github_link"
    t.string "laptop_pic"
    t.string "mobile_pic"
    t.string "tags" -->
